
<h1 class="text-center mt-3">List of articles</h1>
<div class="flickr_pagination mt-3">
    <%= will_paginate @articles, :container => false %>
</div>
<%= render 'article' %>
<div class="flickr_pagination mb-3">
    <%= will_paginate @articles, :container => false %>
</div>