
<div class="container" id='home-container'>
    <div class="jumbotron  text-center font-weight-bold">
        <h1 class="display-4">Alpha Blog</h1>
        <p></p>
        <p class="lead font-weight-bold" >This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
    </div>
</div>
  

