
<div class="container" id='home-container'>
    <div class="jumbotron  text-center font-weight-bold">
        <h1 class="display-4">Alpha Blog</h1>
        <p></p>
        <p class="lead font-weight-bold" >Hello everbody on my Blog. Feel free to sign up and add content.</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg"  %>
    </div>
</div>
  

